In [1]:
%pwd

'f:\\Data Scientist\\RecommendationSystem\\notebook'

In [2]:
import os
os.chdir('../')
%pwd

'f:\\Data Scientist\\RecommendationSystem'

In [6]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
from sklearn.linear_model import LogisticRegression

bank_full = pd.read_csv("notebook/datasets/bank/bank_full_w_dummy_vars.csv")
bank_full.head()
# bank_full.info()

   age  ... divorced
0   58  ...                            0
1   44  ...                            1
2   33  ...                            0
3   47  ...                            0
4   33  ...                            1

[5 rows x 37 columns]