In [1]:
%pwd

'f:\\Data Scientist\\RecommendationSystem\\notebook'

In [2]:
import os
os.chdir('../')
%pwd

'f:\\Data Scientist\\RecommendationSystem'

In [3]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.neighbors import NearestNeighbors

In [5]:
cars = pd.read_csv('notebook/datasets/cars/mtcars.csv')
cars.head()

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [7]:
cars.columns = ['car_name', 'mpg', 'cyl', 'disp',
                'hp', 'drat', 'wt','qsec','vs', 'am', 'gear', 'carb' ]
cars.head()

            car_name   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [9]:
t=[15,300,160,3.2]
X = cars.iloc[:,[1,3,4,6]].values
X[0:5]

array([[ 21.   , 160.   , 110.   ,   2.62 ],
       [ 21.   , 160.   , 110.   ,   2.875],
       [ 22.8  , 108.   ,  93.   ,   2.32 ],
       [ 21.4  , 258.   , 110.   ,   3.215],
       [ 18.7  , 360.   , 175.   ,   3.44 ]])

In [12]:
nearest_neighbors = NearestNeighbors(n_neighbors=1).fit(X=X)
nearest_neighbors.kneighbors([t])

(array([[10.77474942]]), array([[22]]))

In [24]:
cars.iloc[22,:].values

array(['AMC Javelin', np.float64(15.2), np.int64(8), np.float64(304.0),
       np.int64(150), np.float64(3.15), np.float64(3.435),
       np.float64(17.3), np.int64(0), np.int64(0), np.int64(3),
       np.int64(2)], dtype=object)